.flex-container{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    width: 100%;
}

.parent-container{
    margin: 0px;
}




.line-container{
    display: flex;
    justify-content: center;
}

.line{
    border-top: .8px solid ;
    display: flex;
    width: 60%;
    height: 30px;
}


.options{
    font-size: 10px;
    margin-right: 30px;
    
}
